@media (max-width: 991px) {
    .construction-canvas{
        width: 100%;
    }
}
/* Start media ( max = 468px ) */
@media (max-width: 468px) {

    .title {
        margin-bottom: 35px;
    }
    .clock {
        margin: 40px auto 0px;
    }

    .text{
        width: 100%;
    }

}